<% @turbolinks_visit_control = 'reload' %>

<h1>Page Two</h1>

<p>This page contains the <code>turbolinks-visit-control</code> directive, set to "reload".</p>

<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
<p>Page two</p>
